<div class="p-3 border bg-ligh">
  <%= render partial: "new", locals: {emotion: Emotion.new} %>
</div>

<ol class="emotion-list w-100">
  <%= turbo_frame_tag "emotions" do %>
    <%= render partial: "emotion", collection: @emotions %>
  <% end %>
</ol>
