<%= turbo_stream_from "tweets" %>
<div class="p-3 border bg-ligh">
  <%= render partial: "new",  locals: {tweet: Tweet.new} %>
</div>

<ol class="tweet-list w-100">
  <%= turbo_frame_tag "tweets" do %>
    <%= render partial: "tweet", collection: @tweets %>
  <% end %>
</ol>
