<div class="p-3 border bg-ligh">
  <%= render partial: "new" %>
</div>

<ol class="tweet-list w-100">
  <% @tweets.each do |tweet| %>
    <li class="tweet-card">
      <%= render partial: "tweet", locals: {tweet: tweet} %>
    </li>
  <% end %>
</ol>
